.row-header{
	margin: 0px auto;
	padding top: 10em;

}

.row-content{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height:200px;
}
.footer{
	background-color:#D2F0EE;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

.jumbotron{
	padding: 50px 30px 5pc 30px;
	margin: 0px auto;
	/*background: #a63a54;*/
	background: #20B2AA;
	color: floralwhite;
}

address{
	font-size: 80%
	margin: 0px auto;
	color: #0f0f0f;
}
body{
	padding: 50px 0px 0px 0px;
	z-index: 0;
}

.navbar-dark{
	background-color:#167D77;
}
